<% content_for :javascript do %>
		<script type="text/javascript">
			window.mainPageTitle = 'Main Page';
			ShopifyApp.ready(function () {
				ShopifyApp.Bar.initialize({
					title: window.mainPageTitle,
					icon: '/shopify.png',
					buttons: {
						secondary: {
							label: "Mail-Funnel Home",
							href: "http://docs.shopify.com/embedded-app-sdk",
							target: 'new'
						}
					}
				});
			});
		</script>
<% end %>
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="<%= root_url %>">Mail Funnels</a>
		</div>
		
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="<%= root_url %>">Home</a></li>
				<li><a href="<%= funnel_url %>">Mail-Funnel-Builder</a></li>
				<li class="active"><a href="<%= root_url %>campaigns">Campaigns<span class="sr-only">(current)</span></a></li>
				<li><a href="<%= root_url %>lists">Email Lists</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<!--<li><a href="#">Link</a></li>-->
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	
	<div class="col-xs-12">
		
		<legend>
			<h1>Campaigns</h1>
		</legend>
		
		<div class="pull-right">
			<a class="btn btn-primary btn-block" href="<%= root_url %>new_campaign">New Campaign</a>
		</div>
		
		<%= render 'campaigns_list' %>
	
	</div>
</div>