<% content_for :javascript do %>
		<script type="text/javascript">
			window.mainPageTitle = 'Main Page';
			ShopifyApp.ready(function () {
				ShopifyApp.Bar.initialize({
					title: window.mainPageTitle,
					icon: '/shopify.png',
					buttons: {
						secondary: {
							label: "Mail-Funnel Home",
							href: "http://docs.shopify.com/embedded-app-sdk",
							target: 'new'
						}
					}
				});
			});
		</script>
<% end %>

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="<%= root_url %>">Mail Funnel</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="<%= root_url %>">Home <span class="sr-only">(current)</span></a></li>
				<li><a href="<%= funnel_url %>">Mail-Funnel-Builder</a></li>
				<li><a href="<%= root_url %>lists">Email Lists</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<!--<li><a href="#">Link</a></li>-->
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	
	<div class="col-xs-12">
		
		<legend>
			<h1>Hooks Constants</h1>
		</legend>
		
		<!-- Campaign Selector Partial -->
		<div class="col-xs-12">
			<%= render 'campaign_select' %>
		</div>
		<!-- END Campaign Selector Partial-->
		
		
		<!-- Hooks Table -->
		<table class="table table-striped">
			
			<!-- Hooks Table Header -->
			<tr class="active">
				<th><h4>Campaign Name</h4></th>
				<th><h4>Hook</h4></th>
				<th><h4>Email-List</h4></th>
				<th><h4>Funnel-Builder</h4></th>
				<th></th>
			</tr>
			<!-- END Hooks Table Header -->
			
			<!-- Hooks Table BODY -->
			<tbody>
			<% @campaigns.each do |c| %>
					<tr>
						<td style="width:85%;">
							<h6><%= c.name %></h6>
						</td>
						<td>
							<h6>
								<%= Hook.find(c.hook_id).identifier %>
							</h6>
						</td>
						<td>
							<h6>
								<%= Hook.find(c.hook_id).identifier %>
							</h6>
						</td>
						<td>
							<a href="<%= root_url %>funnel/<%= c.id %>" class="btn btn-info btn-block">View></a>
						</td>
						<td>
							<a href="<%= root_url %>campaign/<%= c.id %>" class="btn btn-info btn-block">View></a>
						</td>
					</tr>
			<% end %>
			</tbody>
			<!-- END Hooks Table BODY -->
		
		</table>
		<!-- END Hooks Table -->
		
		<br>
	
	</div>


</div>