<% content_for :javascript do %>
		<script type="text/javascript">
			window.mainPageTitle = 'Main Page';
			ShopifyApp.ready(function () {
				ShopifyApp.Bar.initialize({
					title: window.mainPageTitle,
					icon: '/shopify.png',
					buttons: {
						secondary: {
							label: "Mail-Funnel Home",
							href: "http://docs.shopify.com/embedded-app-sdk",
							target: 'new'
						}
					}
				});
			});
		</script>
<% end %>
<div class="container">
	
	<div class="col-xs-12">
		
		<legend>
			<h1>Hooks Constants</h1>
		</legend>
		
		<!-- Campaign Selector Partial -->
		<div class="col-xs-12">
			<%= render 'campaign_select' %>
		</div>
		<!-- END Campaign Selector Partial-->
		
		
		<!-- Hooks Table -->
		<table class="table table-striped">
			
			<!-- Hooks Table Header -->
			<tr class="active">
				<th><h4>Campaign Name</h4></th>
				<th><h4>Hook</h4></th>
				<th><h4>Email-List</h4></th>
				<th><h4>Funnel-Builder</h4></th>
				<th></th>
			</tr>
			<!-- END Hooks Table Header -->
			
			<!-- Hooks Table BODY -->
			<tbody>
			<% @campaigns.each do |c| %>
					<tr>
						<td style="width:85%;">
							<h6><%= c.name %></h6>
						</td>
						<td>
							<h6>
								<%= Hook.find(c.hook_id).identifier %>
							</h6>
						</td>
						<td>
							<h6>
								<%= Hook.find(c.hook_id).identifier %>
							</h6>
						</td>
						<td>
							<a href="<%= root_url %>funnel/<%= c.id %>" class="btn btn-info btn-block">View></a>
						</td>
						<td>
							<a href="<%= root_url %>campaign/<%= c.id %>" class="btn btn-info btn-block">View></a>
						</td>
					</tr>
			<% end %>
			</tbody>
			<!-- END Hooks Table BODY -->
		
		</table>
		<!-- END Hooks Table -->
		
		<br>
	
	</div>


</div>