<%= form_for(campaign_job) do |f| %>
  <% if campaign_job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(campaign_job.errors.count, "error") %> prohibited this campaign_job from being saved:</h2>

      <ul>
      <% campaign_job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :campaign_id_id %>
    <%= f.text_field :campaign_id_id %>
  </div>

  <div class="field">
    <%= f.label :job_uuid_id %>
    <%= f.text_field :job_uuid_id %>
  </div>

  <div class="field">
    <%= f.label :position %>
    <%= f.number_field :position %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
