<p id="notice"><%= notice %></p>

<h1>Campaign Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Campaign</th>
      <th>Job uuid</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campaign_jobs.each do |campaign_job| %>
      <tr>
        <td><%= campaign_job.campaign_id %></td>
        <td><%= campaign_job.job_uuid %></td>
        <td><%= campaign_job.position %></td>
        <td><%= link_to 'Show', campaign_job %></td>
        <td><%= link_to 'Edit', edit_campaign_job_path(campaign_job) %></td>
        <td><%= link_to 'Destroy', campaign_job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campaign Job', new_campaign_job_path %>
