<script type="text/css">
body {
	  background: #f06d06;
  font-size: 80%;
  padding: 20px;
}

main {
  background: white;
  height: 200px;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
}

main div {
  background: black;
  color: white;
  width: 50%;
  padding: 20px;
  resize: both;
  overflow: auto;
}


</script>


<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="<%= root_url %>">Mail Funnel</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="<%= root_url %>">Home <span class="sr-only">(current)</span></a></li>
				<li class="active"><a href="<%= funnel_path %>">Mail-Funnel-Builder</a></li>
				<li><a href="<%= root_url %>lists">Email Lists</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<!--<li><a href="#">Link</a></li>-->
			</ul>
		</div>
	</div>
</nav>

<div class="container">

		<!-- Campaign Selector Partial -->
		<div class="col-xs-12">
			<legend>
				<h2>Mail Funnels - Funnel Builder</h2>
			</legend>
			<%= render 'campaign_select' %>
		</div>
		<!-- END Campaign Selector Partial-->
	</div>

</div>

