<% content_for :javascript do %>
		<script type="text/javascript">
			window.mainPageTitle = 'Main Page';
			ShopifyApp.ready(function () {
				ShopifyApp.Bar.initialize({
					title: window.mainPageTitle,
					icon: '/shopify.png',
					buttons: {
						secondary: {
							label: "Mail-Funnel Home",
							href: "http://docs.shopify.com/embedded-app-sdk",
							target: 'new'
						}
					}
				});
			});
		</script>
<% end %>

<h3>Funnel Builder</h3>

<div class="row">
	<% @hooks.each do |hook| %>
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
			<a href="#" onclick="add_hook(<%= hook.identifier %>)"><%= hook.name %></a>
		</div>
	<% end %>
</div>
<div class="mermaid" id="mermaidChart0">
	<svg></svg>
</div>

<textarea style="display:none" id="mermaid_chart_code">
	<%= raw @chartdata %>
</textarea>

<div id="job_editors">
	<% @jobs.each do |job| %>
		<div id="form_<%= job.local_identifier %>">
			<b>Name:</b><br>
			<input type="text" id="form_name_<%= job.local_identifier %>" value="<%= job.name %>" />

			<b>Subject:</b><br>
			<input type="text" id="form_subject_<%= job.local_identifier %>" value="<%= job.subject %>" />

			<b>Content:</b><br>
			<textarea id="form_content_<%= job.local_identifier %>"><%= job.content %></textarea>

			<input type="submit" value="Submit" />
		</div>
	<% end %>
</div>

<script>
	function get_chart_code_lines() {

	}

	function add_job(hook_identifier) {
		var append_string = "%% HOOK_APPEND_".concat(hook_identifier);
		var update_text = "";

		var chart_code = $('#mermaid_chart_code').val();
		var lines = chart_code.split("\n");

		var previous_line = "";
		for(var x = 0; x < lines.length; x++) {

			if(lines[x] === append_string) {
				var halves = previous_line.split("-->");
				var second_half = halves[1];

				//  0_1_2_3
				// job_cart_update_0
				var text_pieces = second_half.split("_");
				var next_count = parseInt(text_pieces[3]) + 1;

				var new_job_text = text_pieces[0]
									.concat("_")
									.concat(text_pieces[1])
									.concat("_")
									.concat(text_pieces[2])
									.concat("_")
									.concat(next_count);

				var new_line = second_half.concat("-->").concat(new_job_text);
				new_line = new_line.concat("[New Job Title]");

				$('#mermaid_chart_code').val(update_text.concat(new_line));

				// Update the textarea
				// Re-render Chart
				// Append new div for job forms
			} else {
				update_text = update_text.concat(lines[x]).concat("\n");
			}
			
			previous_line = lines[x];
		}

		// chart_code.replace(append_string, );
	}

	mermaidAPI.initialize({
		startOnLoad: false
	});

	$(function () {
		// Example of using the API
		var element = document.querySelector("#mermaidChart0");
		
		var insertSvg = function (svgCode, bindFunctions) {
			element.innerHTML = svgCode;
		};
		

		var graphDefinition = $('#mermaid_chart_code').val();
		console.log(graphDefinition);
		var graphDefinition_example = 'graph TB\na-->b';
		
		if(mermaid.parse(graphDefinition)) {
			console.log("Data is OK");
		} else {
			mermaid.parseError = function (err, hash) {
				displayErrorInGui(err);
				console.log(err)
			};
		}
		
		var graph = mermaidAPI.render(element, graphDefinition, insertSvg);
		
		var textFieldUpdated = function () {
			var textStr = getTextFromFormField('code');
			if(mermaid.parse(textStr)) {
				reRender(textStr)
			}
			mermaid.parseError = function (err, hash) {
				displayErrorInGui(err);
				console.log(err)
			};
		}
		
	});
</script>


<!-- TABS -->

<!--<div>-->
<!--&lt;!&ndash; Nav tabs &ndash;&gt;-->
<!--<ul class="nav nav-tabs" role="tablist">-->
<!--<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a>-->
<!--</li>-->
<!--<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>-->
<!--<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>-->
<!--<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>-->
<!--</ul>-->
<!---->
<!--&lt;!&ndash; Tab panes &ndash;&gt;-->
<!--<div class="tab-content">-->
<!--<div role="tabpanel" class="tab-pane fade in active" id="home">-->
<!--Tab Contents-->
<!--</div>-->
<!--<div role="tabpanel" class="tab-pane fade" id="profile">...</div>-->
<!--<div role="tabpanel" class="tab-pane fade" id="messages">...</div>-->
<!--<div role="tabpanel" class="tab-pane fade" id="settings">...</div>-->
<!--</div>-->
<!--</div>-->



<script>
	if(1 === 0) {
		
		var textFieldUpdated = function () {
			var textStr = getTextFromFormField('code');
			
			if(mermaid.parse(textStr)) {
				reRender(textStr)
			}
		};
		mermaid.parseError = function (err, hash) {
			displayErrorInGui(err);
			console.log()
		};
		
		mermaid.init(undefined, $("#mermaidChart0 "));
		
		// Example of using the API
		var element = document.querySelector("#mermaidChart0");
		
		var insertSvg = function (svgCode, bindFunctions) {
			element.innerHTML = svgCode;
		};
		
		//var graphDefinition2 = '<%#= @chartdata %>';
		var graphDefinition = 'graph TB\na-->b';
		var graph = mermaid.render('graphDiv', graphDefinition, insertSvg);
		
		//	bindEventHandler('change', 'code', textFieldUpdated);
	}
</script>