<%= form_for(app) do |f| %>
  <% if app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(app.errors.count, "error") %> prohibited this app from being saved:</h2>

      <ul>
      <% app.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :builder_lock %>
    <%= f.check_box :builder_lock %>
  </div>

  <div class="field">
    <%= f.label :auth_token %>
    <%= f.text_field :auth_token %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
