<script type="text/javascript">
	ShopifyApp.ready(function () {
		ShopifyApp.Bar.initialize({
			buttons: {
				primary: {
					label: 'Save',
					message: 'new_email_list',
					loading: true
				}
			}
		});
	});
</script>

<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="<%= root_url %>">Mail Funnels</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="<%= root_url %>">Home <span class="sr-only">(current)</span></a></li>
				<li><a href="<%= funnel_path %>">Mail-Funnel-Builder</a></li>
				<li class="active"><a href="<%= root_url %>lists">Email Lists</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<!--<li><a href="#">Link</a></li>-->
			</ul>
		</div>
	</div>
</nav>


<div class="container">
	<div class="col-xs-12">
		<legend>
			<h3>Email List: <%= @email_list.name %></h3>
			<h6><%= @message %></h6>
		</legend>

		<!-- Emails Lists Table -->
	<table class="table table-striped">

		<!-- Emails List Table Headers -->
		<tr class="active" style="color: #ffffff !important">
			<th style="background-color: #008cba !important;"><h4>Name</h4></th>
			<th style="background-color: #008cba !important;"><h4>Description</h4></th>
		</tr>
		<!-- END Emails List Table Headers -->

		<!-- Emails List Table BODY -->
		<tbody>
				<tr>
					<td>
						<h6 class="text-primary"><%= @email_list.name %></h6>
					</td>

					<td>
						<h6><%= @email_list.description %></h6>
					</td>

				</tr>
		</tbody>
		<!-- END Emails List Table BODY -->

	</table>
	<!-- END Email Lists Table -->

	</div>
</div>