<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="<%= root_url %>">Mail Funnels</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="<%= root_url %>">Home <span class="sr-only">(current)</span></a></li>
				<li><a href="<%= funnel_path %>">Mail-Funnel-Builder</a></li>
				<li class="active"><a href="<%= root_url %>lists">Email Lists</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<!--<li><a href="#">Link</a></li>-->
			</ul>
		</div>
	</div>
</nav>


<div class="container">
	<div class="col-xs-12">
		<legend>
			<h3>Email List <%= @list.name %></h3>
			<h6><%= @list.description %></h6>
		</legend>
		<ul class="list-group">
			<% @emails.each do |e| %>
					<li class="list-group-item">
						<b><%= e.name %></b> - <%= e.email_address %>
					</li>
			<% end %>
		</ul>

	</div>

</div>