<%= render 'layouts/navbar' %>

<h2>Email Lists</h2>

<%= render 'new_list_form' %>

<b><%= link_to "Create New List", root_url + "new_list" %></b>

<ul class="list-group">
	<% @list.each do |el| %>
			<li class="list-group-item">
				<a href="<%= root_url %>emails/<%= el.id %>"><%= el.name %></a>
				<hr>
				<%= el.description %>
			</li>
	<% end %>
</ul>

</div>