<p id="notice"><%= notice %></p>

<p>
  <strong>Hook uuid:</strong>
  <%= @campaign.hook_uuid %>
</p>

<p>
  <strong>Campaign job:</strong>
  <%= @campaign.campaign_job_id %>
	<% @jobs.find_each do |job| %>
	
	<%= job.id %>
			
	<% end %>
</p>

<%= link_to 'New Campaign Job', new_campaign_job_path %>

