<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @email.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @email.description %>
</p>

<p>
  <strong>App:</strong>
  <%= @email.app_id %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
