<%= form_for(mail_funnel_config) do |f| %>
  <% if mail_funnel_config.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mail_funnel_config.errors.count, "error") %> prohibited this mail_funnel_config from being saved:</h2>

      <ul>
      <% mail_funnel_config.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
