<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hooks_constant.name %>
</p>

<p>
  <strong>Uuid:</strong>
  <%= @hooks_constant.uuid %>
</p>

<%= link_to 'Edit', edit_hooks_constant_path(@hooks_constant) %> |
<%= link_to 'Back', hooks_constants_path %>
